/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile
*.a
*.so
*.d

__init__.py
!Plotting/**/__init__.py
*.pyc

*.root
*.png
*.pdf
*~

/artusExample
/artus_core_test
/.python_links

plots
*.aux
*.log
*.spl
wiki
*.pcm

.vs*

# Folder created with HP when using --www
websync/

# Files created when runnning HP with proxy option
proxy_macro_*.C
proxy_class_*.h
proxy_cutmacro_*.C
